.sectionLeft {
    float: left;
    width: 70%;
}
.sectionRight {
    float: right;
    width: 30%;
}
.scoreContainer {
    background-color: rgb(133, 94, 66);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}
/*
.clickerContainer img {
    position: relative;
    transition: all .1s ease-in-out;
}

.clickerContainer img:hover {
    transform: scale(1.10);
}

.clickerContainer img:active {
    transform: scale(0.99);
}*/

#clicker{
    position:relative; bottom:-60px;
    background-repeat: no-repeat;
    background-image: url("./images/pirate.png");
    background-size: contain;
    position: relative;
    transition: all .1s ease-in-out;
    height: 500px;
    width: 268px;
}

#clicker:hover { transform: scale(1.10) }
#clicker:active { transform: scale(0.99) }

#clicker > .number {
    z-index: 99;
    font-size: 30px;
    color: gold;
    position: absolute;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-family: "Trebuchet MS";
}

.shopButton {
    background-color: rgb(133, 94, 66);
    transition: all .1s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton:hover {
    background-color: rgb(123, 84, 56);
    transition: all 0.1s ease-in-out;
}

.shopButton #image {
    width: 25%;
}

.shopButton img {
    height: 120px;
    width: 120px;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #amount {
    font-size: 48px;
    color: #595959;
    font-family: roboto;
    width: 15%;
}

.sectionFooter {
    margin-top: -12%;
    font-family: roboto;
    font-size: 30px;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.sectionFooter #title {
    height: 1px
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200%;
}

.achievements {
    width: 400px;
    height: 300px;
    overflow:scroll;
    display: none;
}
